<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>Pie Chart Display</title>
</head>
<body>
<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Summary">Summary</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/pieChart">Pie Chart</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/barChart1">Bar Chart</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/barChart2">Bar Chart 2</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/barChart3">Bar Chart 3</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/kMeans">K Means</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/factorization">Factorization</a>
        </li>
    </ul>
</nav>
<img th:src="@{${imageName}}" style="padding-top: 100px;" alt="Chart_Display.png" width="3000" height="600">
</body>
</html>